@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
:root{
  --color-primary: white;
  --color-seconde:#213F6E;
}
@theme {
  --font-playfair-display:"Unna", "sans-serif";
  --color-seconde:#213F6E;
}
  body {
    font-family: var(--font-playfair-display);
  }
